# Default ignored files
/shelf/
/workspace.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\Code\java\long\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
